bench/libbench.a
bench/p/padd
bench/p/paddu
bench/p/pclz
bench/p/pcmp
bench/p/pcopy
bench/p/pdivmodu
bench/p/pmove
bench/p/pmul
bench/p/pmul_karatsuba
bench/p/pmulu
bench/p/pnorm
bench/p/pshl
bench/p/pshr
bench/p/psqr
bench/p/psqr_karatsuba
bench/p/psub
bench/p/psubu
bench/p/pzero
check/libcheck.a
check/p/pcmp
check/p/pcopy
check/p/pnorm
check/p/pzero
check/z/zadd
check/z/zaddi
check/z/zgetset
check/z/zmul
check/z/zmuli
check/z/zshl
check/z/zshr
check/z/zsub
check/z/zsubi
config.h
config.inc
hebimath.h
libhebimath.a
libhebimath.so
**/*.o
**/*.po
