**/*.o
**/*.po
**/*.lst
**/*.log
.sonar
bench/libbench.a
bench/p/padd
bench/p/paddu
bench/p/pclz
bench/p/pctz
bench/p/pcmp
bench/p/pcopy
bench/p/pdivrem
bench/p/pdivremu
bench/p/pmove
bench/p/pmul
bench/p/pmul_karatsuba
bench/p/pmulu
bench/p/pnorm
bench/p/pshl
bench/p/pshr
bench/p/psqr
bench/p/psqr_karatsuba
bench/p/psub
bench/p/psubu
bench/p/pzero
check/alloc/addremove
check/alloc/fixed
check/alloc/query
check/alloc/valid
check/libcheck.a
check/p/negnot
check/p/strings
check/p/pcmp
check/p/pcopy
check/p/pmove
check/p/pnorm
check/p/pzero
check/z/getset
check/z/shift
check/z/zabs
check/z/zadd
check/z/zaddi
check/z/zaddmag
check/z/zaddu
check/z/zand
check/z/zcmp
check/z/zcmpi
check/z/zcmpmag
check/z/zcmpu
check/z/zdiv
check/z/zdivi
check/z/zdivrem
check/z/zdivu
check/z/zmul
check/z/zmuli
check/z/zmulu
check/z/zneg
check/z/znot
check/z/zor
check/z/zrem
check/z/zremi
check/z/zremu
check/z/zsqr
check/z/zsub
check/z/zsubi
check/z/zsubmag
check/z/zsubu
check/z/zxor
config.h
config.inc
hebimath.h
libhebimath.a
libhebimath.so
